[Desktop Entry]
Type=Application
Name=Zap Faster
GenericName=WhatsApp Client
Comment=A native WhatsApp client
Exec=zap-faster %u
Icon=zap-faster
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;chat;messaging;
StartupWMClass=zap-faster
MimeType=x-scheme-handler/whatsapp;
SingleMainWindow=true
Actions=quit;

[Desktop Action quit]
Name=Quit Zap Faster
Exec=zap-faster quit
